body{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Roboto", "Arial", sans-serif;
}
*:focus{
  outline: 3px dotted #ff7500;
  outline-offset: 3px;
}
.logo-link{
  transition: opcity 0.4 ease;
}
.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}
.logo-link img{
  display: block;
}
.site-header{
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 3px solid #ff7500;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.navbar{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}
.navbar-item{
  margin-right: 32px;
}
.navbar-item:last-child{
  margin-right: 0;
}
.navbar-item a{
  text-decoration: none;
  margin: 32px;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none; 
  transition: color 0.4s ease, opacity 0.4s ease; 
}
.navbar-item a:hover{
  color: #ff7500;
}
.navbar-item a:active{
  opacity: 0.6;
}

.btn{
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  background-color:  #ff7500;
  padding:12px 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  transition: opacity 0.4s ease;
}
.btn:hover{
  opacity: 0.8;
}
.btn:active{
  opacity: 0.6;
}
.site-header-box{
  display: flex;
  align-items: center;
}
.hero-section{
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: center;
  justify-content:space-between;
  width: 1594px;
  background-color: #252420;
}
.orange-line{
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  background-color: #ff7500;
}
.hero-title{
  margin-top: 0;
  margin-bottom: 24px;
  color: #fff;
  width: 339px;
  height: 172px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}
.hero-text{
  width: 387px;
  height: 96px;
   color: #fff;
   margin: 0;
   margin-bottom: 32px;
}
.big-title{
  width: 435px;
  height: 172px;
  margin: 0;
  margin-bottom: 52px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 72px;
  line-height: 86px;
  color: #000;
}
.hero-img{
  border-radius: 8px;
}
.feature-section{
 padding-top: 210px;
 padding-bottom: 210px;
}
.feature-list{
  display: flex;
  margin: 0;
  padding: 0;
}
.features-item{
  width: 340px;
  margin-right: 40px;
  list-style: none;
}
.features-item:last-child{
  margin-right: 0;
}
.feature-title{
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #000;
}
.feature-info{
  width: 314px;
  height: 72px;
  color: #000;
}
.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgba(255, 117, 0, 0.2);
}
.sale{
  padding-top: 120px;
  padding-bottom: 160px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
}
.sale-title{
  width: 373px;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #fff;
}
.sale-wrapper-text{
  margin-bottom: 24px;
}
.sale-text{
    width: 440px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 12px;
}
.sale-text:last-child{
  margin-bottom: 0;
}
.letter-highlitte{
  color: #ff7500;
}
.sale-img{
  width: 440px;
  height: 440px;
  border-radius: 12px;
}
.site-footer{
  
  width: 1440px;
  height: 507px;
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #F8F8F8;
}
.site-footer-top{
   display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-list{
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center;
}
.social-list li{
  margin-right: 16px;
}
.social-list li:last-child{
  margin-right: 0;
}
.social-list a{
  color: #252420;
  display: block;
}
.social-list a :hover{
  color: #ff7500;
}
.social-list:active{
  opacity: 0.6;
}
.footer-rectangle{
  width: 1100px;
  margin-top: 40px;
  margin-bottom: 64px;
  height: 2px;
  border: 0;
  background-color: rgba(37, 36, 32, 0.5);
}
.site-footer-bottom{
  display: flex;
}
.site-footer-list{
  width: 225px;
  padding: 0;
  line-height: 19px;
  list-style: none;

}
.site-footer-links{
  width: 224px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
}
.site-footer-links:last-child{
  margin-right: 0;
}
.site-footer-links a{
  color: #252420;
  text-decoration: none;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.site-footer-links a:hover{
  color: #ff7500;
}
.site-footer-links a:active{
  opacity: 0.6;
}